<%- include partials/header.ejs %>

<div class="container">
  <main>
    <center>
      <div class="z-depth-3 y-depth-3 x-depth-3 grey lighten-4 row login-form">

        <img src="./images/logo.png" />
        <h4 class="brand-logo">Cat Facts</h4>


        <div class='row'>
          <div class='input-field col s12'>
            <input class='validate' type="text" name='username' id='username' required />
            <label for='username'>Username</label>
          </div>
        </div>

        <div class='row'>
          <div class='input-field col m12'>
            <input class='validate' type='password' name='password' id='password' required />
            <label for='password'>Password</label>
          </div>
          <label class="">
            <a class="text-muted">Forgot Password?</a>
          </label>
        </div>

        <center>
          <div class='row'>
            <button style="margin-left:65px;"  type='submit' name='btn_login' class='col  s6 btn btn-small white black-text  waves-effect z-depth-1 y-depth-1'>Login</button>
          </div>
          <span>or <a href="/signup">Sign Up</a> instead</span>
        </center>

      </div>
    </center>
  </main>
</div>

<%- include partials/footer.ejs %>
